@charset "UTF-8";
/* line 17, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 35, ../sass/main.scss */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 42, ../sass/main.scss */
.clearfix:after {
  clear: both;
}
/* line 43, ../sass/main.scss */
.clearfix {
  zoom: 1;
}

/* line 46, ../sass/main.scss */
.left {
  float: left;
}

/* line 57, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 70, ../sass/main.scss */
html, body {
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  background-color: white;
  color: black;
  line-height: 1;
  width: 100%;
  min-width: 980px;
  height: 100%;
}
/* line 82, ../sass/main.scss */
html a, body a {
  color: black;
}
/* line 84, ../sass/main.scss */
html a:hover, body a:hover {
  text-decoration: none;
  color: #555555;
}
/* line 89, ../sass/main.scss */
html b, html strong, body b, body strong {
  font-weight: bold;
}

/* line 98, ../sass/main.scss */
nav {
  width: 100%;
  height: 125px;
  background-color: white;
}
/* line 102, ../sass/main.scss */
nav #logo {
  width: 980px;
  margin: 0 auto;
  line-height: 125px;
}
/* line 105, ../sass/main.scss */
nav #logo img {
  margin: 40px 0;
}

/* line 111, ../sass/main.scss */
#wrap {
  width: 100%;
}
/* line 113, ../sass/main.scss */
#wrap h3 {
  width: 980px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 119, ../sass/main.scss */
#wrap h4 {
  width: 980px;
  margin: 0 auto;
  font-size: 16px;
  margin-bottom: 5px;
}
/* line 124, ../sass/main.scss */
#wrap .row {
  width: 980px;
  margin: 0 auto;
}
/* line 35, ../sass/main.scss */
#wrap .row:before, #wrap .row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 42, ../sass/main.scss */
#wrap .row:after {
  clear: both;
}
/* line 43, ../sass/main.scss */
#wrap .row {
  zoom: 1;
}
/* line 127, ../sass/main.scss */
#wrap .row .form-control {
  float: left;
  display: block;
  width: 85%;
  height: 34px;
  padding: 6px 12px;
  margin-right: 20px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* line 148, ../sass/main.scss */
#wrap .row-bottom {
  margin-bottom: 50px;
}
/* line 151, ../sass/main.scss */
#wrap .row-p {
  margin-bottom: 10px;
}

/* line 160, ../sass/main.scss */
.button {
  font-family: Helvetica, Arial, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  font-weight: bold;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 24px;
}

/* line 174, ../sass/main.scss */
.button:active {
  position: relative;
  top: 1px;
}

/* line 179, ../sass/main.scss */
.button-line {
  float: left;
  margin-right: 10px;
}

/* line 184, ../sass/main.scss */
.blue-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
  background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
  background-color: #007dc1;
  border: 1px solid #124d77;
  text-shadow: 0px 2px 0px #154682;
}

/* line 199, ../sass/main.scss */
.blue-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
  background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
  background-color: #0061a7;
}

/* line 210, ../sass/main.scss */
.red-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #8a2a21;
  -webkit-box-shadow: inset 0px 1px 0px 0px #8a2a21;
  box-shadow: inset 0px 1px 0px 0px #8a2a21;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
  background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
  background-color: #c62d1f;
  border: 1px solid #d02718;
  text-shadow: 0px 2px 0px #810e05;
}

/* line 225, ../sass/main.scss */
.red-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
  background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
  background-color: #f24437;
}

/* line 236, ../sass/main.scss */
.green-button {
  -moz-box-shadow: inset 0px 1px 0px 0px #3dc21b;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3dc21b;
  box-shadow: inset 0px 1px 0px 0px #3dc21b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
  background: -moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: -ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
  background-color: #44c767;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #18ab29;
  text-shadow: 0px 2px 0px #2f6627;
}

/* line 254, ../sass/main.scss */
.green-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
  background: -moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: -ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
  background-color: #5cbf2a;
}
